

body{
    background-color: #317899;
    font-family: 'Rubik';
    
}
.div-container{
    overflow-y: scroll;
}

#lat:hover {
    width: 100%;
	padding-right: 0px;
	padding-left: 0px;
	margin-right: 0px;
    margin-left: 0px;
    max-width:100%;
    background-color: azure;
    border-radius: 0px;
 }
 #lat{
    transition-duration: 0.3s;
 }
 #lat:hover h1{
     padding-left:10%;
     font-weight: bold;
     padding-bottom: 3px;
 }
 #container{
    display: none;
}
 #web:hover #container{
     display: inline-block;
 }

.incapere{
    background-color: #a6d2ec;
   /* margin-left: 10%;
    margin-right: 10%;*/
    margin-top:3em;
    border-radius: 15px;
    
    border-width: 5px;
    transition-duration: 0.5s;
    
}
 
.baner{
       
        padding-top:15em;
        width: 100%;
        
        
        position:absolute;
        border-radius: 0px;
       

        display:block;
        opacity:100%;
        
        z-index: 1;
    }

.titlu{
    padding-top:1em;
    font-weight:bold;
    
    font-size:50px;
    padding-left:25%;

    transition-duration: 0.05s;
}
.descriere{

    font-size:30px;
   
    text-align: center;
    

}
.spatiu-liber{

    height: 20em;

}
hr{
    background-color: #1f1e3f;
    border: 0 none;
    border-radius: 15px;
    height: 2px;
    opacity:5%
}

#web-designer{
    padding-top:4em;
    transition-duration: 0.3s;
}
#lat:hover #web-designer{
    padding-top: 1em;
}
#container{
    margin-top: 1em;
}


@media only screen and (min-width:2px){/* PENTRU TELEFOANE*/

    .baner{
            
            padding-top:24em;
            width: 100%;
            
        
            position:absolute;
        
        
            
            
        
            z-index: 1;
        
        }


    .titlu,.descriere{
                text-align: left;
            }

    .titlu{
        padding-left: 0px;
    }
}

@media only screen and (min-width:500px){ 
    
    
    .baner{
        
            
            width: 100%;
            padding-top: 24em;
        
            position:absolute;
        
        
        
            z-index: 1;
        }

    .titlu{
        text-align: left;
        padding-left:0px;
        /*padding-right: 30%;*/
    }
    .descriere{
        text-align:left;
        padding-right:40%;
    }

}

@media only screen and (min-width:780px){


    
    .baner{
       
        padding-top:22em;
        width: 100%;
        
        
        
        position:absolute;
        border-radius: 0px;
     
    
        z-index: 1;
        
    }
    .titlu,.descriere{
        text-align: center;
    }
    .titlu{
        padding-left: 20%;
        padding-right: 20%
    }
    .descriere{
        text-align: center;
        padding-left: 10%;
        padding-right:10%;
    }
   
    


}




@media only screen and (max-width:1100px){
    .spatiu-liber{

        height: 9em;
    
    }
    
    #lat{
        padding-top: 1em;
    }
}
@media only screen and (max-width:750px){

    .spatiu-liber{

        height: 5em;
    
    }
#poza{
        display: none;
    }
}
@media screen and (max-width:576px){

    
    #lat{
        margin-top:0px;
    }

    .baner{
       
        padding-top:26em;
        width: 100%;
        
        
        
        position:absolute;
        border-radius: 0px;
     
    
        z-index: 1;
        
    }
}






