@import url("roboto.css");
::selection {
  background-color: rgb(108, 177, 117);
  border-radius: 50%;
}
::-moz-selection {
  background-color: rgb(108, 177, 117);
  border-radius: 50%;
}
.center {
  display: table;
  width: 100%;
  height: 100vh;
}

body {
  background-image: url("back3.jpg");
  font-family: "Rubik";
  /*background-repeat: no-repeat;*/
  background-size: 100%;
  transition-duration: 1s;
  /*background-size:cover;*/
}
.div-container {
  overflow-y: scroll;
}

.frame {
  width: 100%;
  height: 80em;
  border: 0px;
  margin-left: 1%;
}

#liber {
  height: 6em;
}

.hide {
  display: none;
}
#hiddenjs0,
#hiddenjs1 {
  display: none;
}

.knowledge {
  font-size: 2em;
  padding-left: 10%;
}

#lat:hover {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 0px;
  margin-left: 0px;
  max-width: 100%;
  background-color: rgb(240, 255, 255);

  border-radius: 0px;
}
#lat:hover .hide {
  display: initial;
}
.left {
  margin-left: 10%;
}
#lat {
  transition-duration: 0.3s;
}
#lat:hover h1 {
  padding-left: 10%;
  font-weight: bold;
  /*padding-bottom: 3px;*/
}
.cont2 {
  display: none;
  transition-duration: 0.3s;
}
.incapere:hover .cont2 {
  display: inline-block;
  margin-top: 12%;
}
#lat:hover img {
  border-radius: 0%;
}

.incapere {
  background-color: #9bafbb;
  /* margin-left: 10%;
    margin-right: 10%;*/
  margin-top: 3em;
  border-radius: 15px;

  border-width: 5px;
  transition-duration: 0.5s;
}

.baner {
  transition-duration: 0.3s;

  padding-top: 15em;
  width: 100%;

  position: absolute;
  border-radius: 0px;

  display: block;
  opacity: 100%;

  z-index: 1;
}

.titlu {
  padding-top: 1em;
  font-weight: bold;

  font-size: 3em;
  padding-left: 25%;

  transition-duration: 0.05s;
}
.descriere {
  font-size: 2em;

  text-align: center;
}
.spatiu-liber {
  height: 20em;
}
hr {
  background-color: #1f1e3f;
  border: 0 none;
  border-radius: 15px;
  height: 2px;
  opacity: 5%;
}

#paulic {
  margin-left: 10%;
  border-radius: 20%;
  width: 70%;
  padding-top: 10%;
  padding-bottom: 10%;
  transition-duration: 0.3s;
}

#web-designer {
  padding-top: 4em;
  transition-duration: 0.3s;
  font-size: 2em;
}
#lat:hover #web-designer {
  padding-top: 1em;
  font-size: 3em;
}
#container {
  margin-top: 1em;
}

@media only screen and (min-width: 1570px) {
  #liber {
    margin-top: 19rem; /*9 rem*/
  }
  .spatiu-liber {
    height: 6em;
  }
}
@media only screen and (min-width: 2px) {
  /* PENTRU TELEFOANE*/

  .baner {
    padding-top: 24em;
    width: 100%;

    position: absolute;

    z-index: 1;
  }

  .titlu,
  .descriere {
    text-align: left;
  }

  .titlu {
    padding-left: 0px;
  }
}

@media only screen and (min-width: 500px) {
  .baner {
    width: 100%;
    padding-top: 18em;

    position: absolute;

    z-index: 1;
  }

  .titlu {
    text-align: left;
    padding-left: 0px;
    /*padding-right: 30%;*/
  }
  .descriere {
    text-align: left;
    padding-right: 40%;
  }
}

 @media screen and (min-width: 780px) {
  /*.baner {
    padding-top: 20em;
    width: 100%;

    position: absolute;
    border-radius: 0px;

    z-index: 1;
  }*/
  .titlu,
  .descriere {
    text-align: center;
  }
  .titlu {
    padding-left: 20%;
    padding-right: 20%;
  }
  .descriere {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
  }

  /*#lat {
    padding-top: 0em;
    margin-top: 0px;
  }
  .spatiu-liber {
    height: 6rem;
  }*/
}
/* ////////////////////////////////////////////////////////////////////// */
@media only screen and (max-width: 1200px) {
  .baner {
    padding-top: 20em; /*16*/
    width: 100%;

    position: absolute;
    border-radius: 0px;

    z-index: 1;
  }
  #liber {
    height: 6em;
    margin-top: 5em;
  }
  .spatiu-liber {
    height: 7em;
  }
  .knowledge {
    font-size: 2em;
    padding-left: 10%;
  }
  #lat:hover #web-designer {
    padding-top: 0.4em;
    font-size: 2.4em;
  }
}

@media only screen and (max-width: 1130px) {
  #lat {
    padding-top: 1em;
    margin-top: 0px;
  }

  .incapere {
    background-color: #9bafbb;
    /* margin-left: 10%;
        margin-right: 10%;*/
    margin-top: 1em;
    border-radius: 15px;

    border-width: 5px;
    transition-duration: 0.5s;
  }
  /*.baner{
            
        padding-top:20em;
        width: 100%;
        
    
        position:absolute;
    
    
        
        
    
        z-index: 1;
    
    }*/
    .knowledge {
      font-size: 1.8em;
      padding-left: 8%;
    }
    #lat:hover #web-designer {
      padding-top: 0.1em;
      font-size: 2em;
    }
}
@media only screen and (max-width: 991px) {
  .spatiu-liber {
    height: 3em;
  }
  #lat {
    padding-top: 0em;
    margin-top: 0px;
  }
  #liber {
    height: 8em;
    margin-top: 1em;
  }
  .knowledge {
    font-size: 1.4em;
    padding-left: 8%;
    margin-bottom: 1em;
  }
  #lat:hover #web-designer {
    padding-top: 0.1em;
    font-size: 2em;
    margin-top:1.3em;
  }
  
  
}
@media only screen and (max-width: 768px) {
  .spatiu-liber {
    height: 3em;
  }
  #lat {
    padding-top: 0em;
    margin-top: 0px;
  }
  
  #lat 
  #liber {
    height: 8em;
    margin-top: 0em;
  }
  #paulic {
    display: none;
  }
  #web-designer {
    padding-top: 1em;
    padding-bottom: 3em;
  }
  #lat:hover #web-designer {
    padding-bottom: 0.1em;
  }
  .knowledge {
    font-size: 1.4em;
    padding-left: 8%;
    margin-bottom: 1em;
  }
  #lat:hover #web-designer {
    padding-top: 0.1em;
    font-size: 2em;
    margin-top:1.3em;
    padding-left: 4em;
  }
}
@media only screen and (max-width: 750px) {
  .spatiu-liber {
    height: 5em;
  }
  #poza {
    display: none;
  }
  .knowledge {
    font-size: 1.4em;
    padding-left: 8%;
    margin-bottom: 1em;
  }
  #lat:hover #web-designer {
    padding-top: 0.1em;
    font-size: 2em;
    margin-top:1.3em;
    padding-left: 4em;
  }
}

@media only screen and (max-width: 522px) {
  #lat {
    margin-top: 0px;
  }

  .baner {
    padding-top: 20em;
    width: 100%;

    position: absolute;
    border-radius: 0px;

    z-index: 1;
    
  }
  #poza {
    display: none;
  }
  .spatiu-liber {
    height: 2em;
  }
  .descriere{
    font-size:150%;
  }
  #liber{
    padding-top: 0em;
  }
  .knowledge {
    font-size: 1.4em;
    padding-left: 8%;
    margin-bottom: 1em;
  }
  #lat:hover #web-designer {
    padding-top: 0.1em;
    font-size: 2em;
    margin-top:1.3em;
    padding-left: 1em;
  }
}
@media only screen and (max-width: 301px) {
  #lat {
    margin-top: 0px;
  }

  .baner {
    padding-top: 25em;
    width: 100%;

    position: absolute;
    border-radius: 0px;

    z-index: 1;
  }
  #poza {
    display: none;
  }
  .spatiu-liber {
    height: 0em;
  }
  .descriere{
    font-size:150%;
  }
}
@media only screen and (max-width: 283px) {
  .baner {
    padding-top: 29em;
  }
  .descriere{
    font-size:150%;
  }
}
@media only screen and (max-width: 221px) {
  .baner {
    padding-top: 32em;
  }
  .descriere{
    font-size:150%;
  }
}



@media screen and (max-width: 1690px) and (min-width: 1100px) {
  .incapere {
    background-color: #9bafbb;
    /* margin-left: 10%;
        margin-right: 10%;*/
    margin-top: 0em;
    border-radius: 15px;

    border-width: 5px;
    transition-duration: 0.5s;
  }
  .spatiu-liber {
    height: 6rem;
  }

  #incipit {
    padding-bottom: 5em;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1691px) {
  #liber {
    margin-top: 8em;
  }
}
